* {
    box-sizing: border-box;
}

html {
	font-size: 14px;
}

body {
    padding: 0;
    margin: 0;
    background-image: url(../img/bg-body.png);
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 90%;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}

#banner {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}


header img {
    border-radius: 50%;
    border: 2px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 140px;
}


header nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

}


header nav ul a {
    display: block;
	background-color: #333333;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	color: #FFF;
	text-transform: uppercase;
	padding: 14px 0;
}

main {
    
    margin-top: 20px;
}



footer {
	background-color: rgb(150, 0, 0);
	border-radius: 20px 20px 0 0;
	padding: 20px 0;
}

footer nav ul {
	list-style: none;
	text-align: center;
}

footer nav ul li {
	display: inline-block;
	padding: 0 12px;
	border-right: 1px solid #FFF;
}

footer nav ul li:last-child{
	border-right: none;
}

footer nav ul li a {
	color: white;
	text-decoration: none;
}