* {
    box-sizing: border-box;
}

html {
	font-size: 14px;
}

body {
    padding: 0;
    margin: 0;
    background-image: url(../img/bg-body.png);
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 90%;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}

#banner {
    display: block;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    border-radius: 50%;
    border: 2px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 140px;
}

header nav {
    width: 100%;
    margin-bottom: 20px;
}

header nav ul {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    list-style-type: none;

}

header nav ul li {
    display: block;
    width: calc(100%/6 - 100px/6);
}

header nav ul a {
    display: block;
	background-color: #333333;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	color: #FFF;
	text-transform: uppercase;
	padding: 14px 0;
}

main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 20px;
}

main .produto{
	width: calc(100% / 3 - 40px / 3);
	margin-bottom: 20px;
}

main .produto img{
	display: block;
	width: 100%;
}

main .produto p {
	font-size: 0.8rem;
}

main .produto a{
	background-color: #333333;
	border: none;
	color: #FFF;
	text-decoration: none;
	padding: 10px;
	display: block;
	float: left;
}

footer {
	background-color: rgb(150, 0, 0);
	border-radius: 20px 20px 0 0;
	padding: 20px 0;
}

footer nav ul {
	list-style: none;
	text-align: center;
}

footer nav ul li {
	display: inline-block;
	padding: 0 12px;
	border-right: 1px solid #FFF;
}

footer nav ul li:last-child{
	border-right: none;
}

footer nav ul li a {
	color: white;
	text-decoration: none;
}